{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}

    {#Affichage des notifications flashbag#}
    {{ include('_flashbag.html.twig') }}

    <h2>Administration des users</h2>

    <table class="table table-bordered table-hover">
        <thead class="table-secondary">
        <tr>
            <th scope="col">Email</th>
            <th scope="col">TicketNumber</th>
            <th scope="col">Roles</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.tickets|length }}</td>
                <td>{{ user.roles|join(', ') }}</td>
                <td class="d-md-flex justify-content-md-center">
                    <a class="btn btn-secondary btn-sm col mx-2"
                       href="{{ path('app_user_show', {'id': user.id}) }}">Voir</a>
                    <a class="btn btn-secondary btn-sm col mx-2"
                       href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
                    <a class="btn btn-secondary btn-sm col mx-2"
                       href="{{ path('admin_user_ticket_list', {'id': user.id}) }}">Tickets</a>
                    {{ include('user/_delete_form.html.twig') }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}