{% extends 'base.html.twig' %}

{% block title %}Ticket index{% endblock %}

{% block body %}

    {#Affichage des notifications flashbag#}
    {{ include('_flashbag.html.twig') }}


    {% if is_granted('ROLE_ADMIN') %}
        {% if tickets|length > 0 %}
            <h1>Tickets : {{ tickets[0].user.email }}</h1>
        {% else %}
            <h1>Aucun ticket</h1>
        {% endif %}
    {% else %}
        <h1>Liste des tickets</h1>
    {% endif %}

    <table class="table table-bordered table-hover">
        <thead class="table-secondary">
        <tr>
            <th>Id</th>
            <th>Email User</th>
            <th>Label</th>
            <th>Statut</th>
            <th>Description</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.id }}</td>
                <td>{{ ticket.user.email }}</td>
                <td>{{ ticket.label }}</td>
                <td>
                    {% if is_granted('ROLE_ADMIN')  %}
                        {{ include('admin/_form_status.html.twig') }}
                    {% else %}
                        {{ ticket.ticketStatus.label }}
                    {% endif %}
                </td>
                <td>{{ ticket.description }}</td>
                <td class="d-md-flex justify-content-md-around">
                    <a class="btn btn-secondary btn-sm col mx-2" href="{{ path('app_ticket_show', {'id': ticket.id}) }}">voir</a>
                    {% if user.id == ticket.user.id or is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-secondary btn-sm col mx-2" href="{{ path('app_ticket_edit', {'id': ticket.id}) }}">modifier</a>
                        {{ include('ticket/_delete_form.html.twig') }}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun ticket trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('app_ticket_new') }}">Nouveau ticket</a>
{% endblock %}
